@using pax.schafkopf.lib
@using pax.schafkopf.Client.Services
@using pax.schafkopf.Client.Models

<div class="position-absolute mt-5 border rounded border-primary bg-dark" style="z-index: 306; width: 90vw; max-width: 1200px; height: 90vh; max-height: 800px; overflow-y: scroll">
    <h4 class="text-primary p-2 p-sm-1">Spiel Einstellungen</h4>
    <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <h5 class="text-black-50">Spiel Preise</h5>
        <div class="form-group">
            <fieldset>
                <label class="custom-control-label" for="rufvalue">Ruf</label>
                <InputNumber class="form-control" id="rufvalue" @bind-Value="config.RufValue" />
                <ValidationMessage For="@(() => config.RufValue)"></ValidationMessage>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="custom-control-label" for="solovalue">Solo</label>
                <InputNumber class="form-control" id="solovalue" @bind-Value="config.SoloValue" />
                <ValidationMessage For="@(() => config.RufValue)"></ValidationMessage>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="custom-control-label" for="addvalue">Läufer/Schneider/Schwarz</label>
                <InputNumber class="form-control" id="addvalue" @bind-Value="config.AddValue" />
                <ValidationMessage For="@(() => config.RufValue)"></ValidationMessage>
            </fieldset>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public ClientTable table { get; set; }

    [Parameter]
    public EventCallback onConfigSet { get; set; }

    EditContext editContext;
    ClientConfig config;

    string isDisabled = "";

    protected override void OnInitialized()
    {
        config = new ClientConfig();
        editContext = new EditContext(config);
        base.OnInitialized();
    }

    void HandleValidSubmit()
    {

    }

    void HandleInvalidSubmit()
    {

    }

}
