@using pax.schafkopf.Client.Models

<!--<LoginDisplay />-->
<div class="align-self-center w-75">
    <h5 class="text-white-50">Spielernamen festlegen</h5>
    <EditForm Model="player" OnValidSubmit="onSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row justify-content-start mb-1">
            <label class="col-sm-9 col-xl-6 col-form-label text-white-50" for="newpseudonym">
                Spieler Name:
            </label>
            <div class="col-sm-9 col-xl-6">
                <InputText id="newpseudonym" class="form-control" @bind-Value="player.Name" />
                <ValidationMessage For="@(() => player.Name)"></ValidationMessage>
            </div>
        </div>
        <div class="form-group row justify-content-start mb-1">
            <label class="col-sm-9 col-xl-6 col-form-label text-white-50" for="newauth">
                Geheimer Name:
            </label>
            <div class="col-sm-9 col-xl-6">
                <InputText id="newauth" class="form-control" @bind-Value="player.AuthName" />
                <ValidationMessage For="@(() => player.Name)"></ValidationMessage>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public ClientPlayer player { get; set; }

    [Parameter]
    public EventCallback onSubmit { get; set; }
}