@using pax.schafkopf.lib
@using pax.schafkopf.Client.Services
@using pax.schafkopf.Client.Models

<div class="position-absolute mt-5 border rounded border-primary bg-dark" @onclick="onClose" style="z-index: 306; width: 90vw; max-width: 1200px; height: 90vh; max-height: 800px; overflow-y: scroll">
    <h5 class="text-primary p-2 p-sm-1">Starthände in Runde @table.Table.Round <button type="button" class="btn btn-primary" @onclick="onClose">Schließen</button></h5>
    @for (int i = 0; i < 4; i++)
    {
        int j = i;
        ClientPlayer clPlayer = table.Players.Single(s => s.TablePosition == i);
        SKPlayer Player = table.Table.Players.Single(s => s.Position == clPlayer.Position);
        <div class="d-flex flex-row justify-content-start w-100 border rounded border-secondary" style="height: 25%;">
            <div class="ml-5" style="transform: rotate(90deg); transform-origin: left top 0;">
                <span class="badge badge-pill text-white-50">@clPlayer.Name</span> 
            </div>
            @foreach (var card in Player.CardsPlayed.OrderByDescending(o => o.GetCardOrder(table.Table.GameMode, table.Table.Trump)))
            {
                <div style="height: var(--cardheight); width: var(--cardwidth);">
                    <img class="skimage" src="@CardService.GetImageString(card)" />
                </div>
            }
        </div>
    }
    <div class="d-flex">
        <button type="button" class="btn btn-primary" @onclick="onClose">Schließen</button>
    </div>

</div>

@code {
    [CascadingParameter]
    public ClientTable table { get; set; }

    [Parameter]
    public EventCallback onClose { get; set; }

}