@using sk.shared

<div class="border border-primary rounded p-1 w-100 h-100">
    <p>@TablePlayer.Position</p>
    <div class="row">
        @foreach (var card in TablePlayer.Hand)
        {
            <div class="col-1">
                <div class="skcard @card.GetCssClass()"></div>
            </div>
        }

    </div>
</div>

