.hand-container {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.hand-card {
    cursor: pointer;
    margin-bottom: 18vh;
    margin-left: 6vw;
    transition: transform 0.3s ease, z-index 0s;
    cursor: pointer;
    transform: rotate(calc(var(--rotation) * 1deg));
    /* Pivot point is below the visible area */
    transform-origin: center bottom;
}

    .hand-card:first-child {
        margin-left: 0;
    }

    .hand-card:hover {
        /* Lift card up to show more on hover */
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(-40%) scale(1.05);
        z-index: 11;
    }

.draggable {
    cursor: grabbing;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}