.hand-container {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.hand-card {
    cursor: pointer;
    margin-bottom: 18vh;
    margin-left: 6vw;

    --drag-x: 0px;
    --drag-y: 0px;

    transform:
        translate(var(--drag-x), var(--drag-y))
        rotate(calc(var(--rotation) * 1deg));

    transform-origin: center bottom;
    transition: transform 0.3s ease;
}

    .hand-card:first-child {
        margin-left: 0;
    }

    .hand-card:hover {
        transform:
            translate(var(--drag-x), var(--drag-y))
            rotate(calc(var(--rotation) * 1deg))
            translateY(-40%)
            scale(1.05);

        z-index: 11;
    }

    .hand-card.dragging {
        z-index: 1000;
        transition: none;
    }

.draggable {
    touch-action: none;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}