<div class="container-fluid vh-100 d-flex flex-column">

    <!-- Top player -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <PlayerComponent TablePlayer="playersByView[2].TablePlayer"
                             IsPlayer="false" />
        </div>
    </div>

    <!-- Middle row: left + right -->
    <div class="row flex-grow-1 align-items-center justify-content-between">
        <div class="col-auto">
            <PlayerComponent TablePlayer="playersByView[1].TablePlayer"
                             IsPlayer="false" />
        </div>

        <div class="col-auto">
            <PlayerComponent TablePlayer="playersByView[3].TablePlayer"
                             IsPlayer="false" />
        </div>
    </div>

    <!-- Bottom player (you) -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <PlayerComponent TablePlayer="playersByView[0].TablePlayer"
                             IsPlayer="true" />
        </div>
    </div>

</div>
