@using sk.shared
@using sk.weblib.Modals
<div class="container-fluid vh-100 p-0 cardtable overflow-hidden">
    <div class="schafkopf-table h-100 w-100">
        @{
            var players = GetPlayersByView();
        }
        <CascadingValue Value="publicGameState">
            @* top *@
            <div class="d-inline-flex vw-100" style="height: 20vh;">
                <div class="d-flex bg-transparent" style="width: 37.5%;">
                    <div class="btn-block">
                        <input type="button" class="btn btn-sm btn-outline-secondary" id="screentoggle"
                               value="Display aus" />
                        <button type="button" class="btn btn-sm btn-outline-light"
                                @onclick="() => lastTrickModal?.Show(publicGameState, playersByView)">Letzter Stich</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary"
                                @onclick="() => bidding1Modal?.Show(true)">Bid1</button>
                    </div>
                </div>

                <div class="d-flex position-relative" style="width: 25vw">
                    <OppPlayerComponent PlayerViewInfo="players[2]" />
                </div>

                <div class="d-flex align-items-end justify-content-end bg-transparent" style="width: 37.5%;">
                    <div class="align-self-start">
                        <button type="button" class="btn btn-sm btn-outline-danger"
                                @onclick="LeaveTable">Verlassen</button>
                        <div>
                            <span class="small">v0.3.0</span>
                        </div>
                    </div>

                </div>
            </div>

            @* middle *@
            <div class="d-inline-flex vw-100" style="height: 50vh;">
                <div class="d-flex position-relative w-25">
                    <OppPlayerComponent PlayerViewInfo="players[1]" />
                </div>
                <div
                    class="d-flex align-items-center justify-content-center w-50 bg-secondary-subtle rounded rounded-4">
                    @if (publicGameState.Table.Players.Any(a => a.Player.Guid == Guid.Empty))
                    {
                        <div class="w-75">
                            <h3 class="fw-semibold">Warten auf andere Spieler ...</h3>
                            <div class="input-group w-100 mb-3">
                                <input type="text" class="form-control"
                                       value="@($"{NavigationManager.BaseUri}?TableId={publicGameState.ShortCode}")"
                                       readonly />
                                <button class="btn btn-primary" @onclick="CopyLink">
                                    <i class="bi bi-share"></i> Copy Invite Link
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="trick" class="w-100 h-100" style="z-index: 10;">
 
                            <TrickComponent @ref="trickComponent" OnTrickFinished="TrickFinished" />
                        </div>
                    }
                </div>
                <div class="d-flex position-relative w-25">
                    <OppPlayerComponent PlayerViewInfo="players[3]" />
                </div>
            </div>

            @* bottom *@
            <div class="d-inline-flex vw-100" style="height: 30vh;">
                <div class="bg-transparent overflow-hidden" style="width: 20%;">
                    <div class="text-center">
                        <div>
                            @if (publicGameState.YourPosition.HasValue
                                                                                                                                                && publicGameState.LeadingPlayer == publicGameState.YourPosition.Value)
                            {
                                <span class="badge bg-secondary">Erster</span>
                            }
                        </div>
                        <div>
                            @if (publicGameState.GameState == GameState.Playing
                                                                                                                                                && publicGameState.YourPosition.HasValue
                                                                                                                                                && publicGameState.Bidding2Result != null
                                                                                                                                                && publicGameState.Bidding2Result.PlayerIndex == publicGameState.YourPosition.Value)
                            {
                                <span class="badge bg-secondary">Du spielst
                                    @publicGameState.Bidding2Result.GetGameTypeString()</span>
                                }
                            else if (publicGameState.PublicTeammate == players[0].ServerIndex)
                                {
                                    <span class="badge bg-info">@publicGameState.Bidding2Result?.GetTeammateString()</span>
                                }
                            </div>
                            <div>
                                @if (publicGameState.GameState == GameState.None)
                                {
                                    <span class="badge bg-secondary">Warten auf andere Spieler.</span>
                                }
                                else if (IsMyTurn)
                                {
                                    <span class="badge bg-secondary">Du bist am Zug!</span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center w-100 @(CanAct ? "bg-warning" : "")"
                         style="width: 80%">
                        <PlayerComponent @ref="playerComponent" PlayerViewInfo="players[0]" OnCardPlayed="PlayCard" />
                    </div>

                    <div class="bg-transparent" style="width: 20%;">
                    
                    </div>
                </div>
            </CascadingValue>
        </div>
    </div>

    <Bidding1Modal @ref="bidding1Modal" OnWouldPlay="SubmitBidding1" />
    <Bidding2Modal @ref="bidding2Modal" OnWouldPlay="SubmitBidding2" />
    <LastTrickModal @ref="lastTrickModal" />
    <GameResultModal @ref="gameResultModal" OnReady="() => GameHubClient.Ready()" />
