@using sk.shared

<div class="position-relative">
    <div class="skcard top-card @topCard?.GetCssClass()">
    </div>
    <div class="skcard bottom-card @bottomCard?.GetCssClass()">
    </div>
    <div class="skcard left-card @leftCard?.GetCssClass()">
    </div>
    <div class="skcard right-card @rightCard?.GetCssClass()">
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        AddCard(0, new Card() { Rank = Rank.Ace, Suit = Suit.Eichel });
        AddCard(1, new Card() { Rank = Rank.Ten, Suit = Suit.Eichel });
        AddCard(2, new Card() { Rank = Rank.King, Suit = Suit.Eichel });
        AddCard(3, new Card() { Rank = Rank.Nine, Suit = Suit.Eichel });
        base.OnInitialized();
    }

    Card? bottomCard;
    Card? leftCard;
    Card? topCard;
    Card? rightCard;
    CardInfo? currentCard;

    public void AddCard(int position, Card card)
    {
        currentCard = new(position, card);
        _ = position switch {
            0 => bottomCard = card,
            1 => leftCard = card,
            2 => topCard = card,
            3 => rightCard = card,
            _ => null,
        };
    }

    public void Clear(int position)
    {
        bottomCard = null;
        leftCard = null;
        topCard = null;
        rightCard = null;
        currentCard = null;
    }

    private record CardInfo(int Pos, Card Card);
}