@using sk.shared

<div class="position-relative">
    <div class="skcard top-card @topCard?.GetCssClass()">
    </div>
    <div class="skcard bottom-card @bottomCard?.GetCssClass()">
    </div>
    <div class="skcard left-card @leftCard?.GetCssClass()">
    </div>
    <div class="skcard right-card @rightCard?.GetCssClass()">
    </div>
</div>
@if (!string.IsNullOrEmpty(cardAnimationCssClass))
{
    <div class="skcard @currentCard?.Card.GetCssClass() @cardAnimationCssClass">
    </div>
}

@code {
    protected override void OnInitialized()
    {
        AddCard(new PlayerCard() { Position = 0, Card = new Card() { Rank = Rank.Ace, Suit = Suit.Eichel } });
        AddCard(new PlayerCard() { Position = 1, Card = new Card() { Rank = Rank.Ten, Suit = Suit.Eichel } });
        AddCard(new PlayerCard() { Position = 2, Card = new Card() { Rank = Rank.King, Suit = Suit.Eichel } });
        AddCard(new PlayerCard() { Position = 3, Card = new Card() { Rank = Rank.Nine, Suit = Suit.Eichel } });
        base.OnInitialized();
    }

    Card? bottomCard;
    Card? leftCard;
    Card? topCard;
    Card? rightCard;
    PlayerCard? currentCard;
    string? cardAnimationCssClass => currentCard == null ? null : currentCard.Position switch {
        0 => "playbottomcard",
        1 => "playleftcard",
        2 => "playtopcard",
        3 => "playrightcard",
        _ => null
    };

    public void AddCard(PlayerCard playerCard)
    {
        if (currentCard?.Card == playerCard.Card)
        {
            return;
        }
        currentCard = playerCard;
        _ = currentCard.Position switch {
            0 => bottomCard = playerCard.Card,
            1 => leftCard = playerCard.Card,
            2 => topCard = playerCard.Card,
            3 => rightCard = playerCard.Card,
            _ => null,
        };
    }

    public void Clear(int position)
    {
        bottomCard = null;
        leftCard = null;
        topCard = null;
        rightCard = null;
        currentCard = null;
    }
}