.playleftcard {
    position: absolute;
    left: 0;
    top: 30vh;
    z-index: 100;
    animation-name: leftanim;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.playtopcard {
    position: absolute;
    left: 45vw;
    top: 0;
    z-index: 100;
    animation-name: topanim;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.playrightcard {
    position: absolute;
    right: 0;
    top: 30vh;
    z-index: 100;
    animation-name: rightanim;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.playbottomcard {
    position: absolute;
    bottom: 0;
    left: 45vw;
    z-index: 100;
    animation-name: bottomanim;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.trick-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;   /* THIS is critical */
}

.top-card {
    top: calc(var(--cardheight) * -1 + 5vh);
    left: calc(var(--cardwidth) / -2);
}

.bottom-card {
    top: -5vh;
    left: calc(var(--cardwidth) / -2);
}

.left-card {
    top: calc(var(--cardheight) / -2);
    left: calc(var(--cardheight) * -1 + 5vh);
    transform: rotate(90deg);
}

.right-card {
    top: calc(var(--cardheight) / -2);
    left: calc(var(--cardwidth) - 5vh);
    transform: rotate(90deg);
}