.preload-Ace-Eichel { background-image: url("/_content/sk.weblib/images/noto/AceEichel.svg"); }
.preload-Ace-Gras { background-image: url("/_content/sk.weblib/images/noto/AceGras.svg"); }
.preload-Ace-Herz { background-image: url("/_content/sk.weblib/images/noto/AceHerz.svg"); }
.preload-Ace-Schellen { background-image: url("/_content/sk.weblib/images/noto/AceSchellen.svg"); }
.preload-Eight-Eichel { background-image: url("/_content/sk.weblib/images/noto/EightEichel.svg"); }
.preload-Eight-Gras { background-image: url("/_content/sk.weblib/images/noto/EightGras.svg"); }
.preload-Eight-Herz { background-image: url("/_content/sk.weblib/images/noto/EightHerz.svg"); }
.preload-Eight-Schellen { background-image: url("/_content/sk.weblib/images/noto/EightSchellen.svg"); }
.preload-King-Eichel { background-image: url("/_content/sk.weblib/images/noto/KingEichel.svg"); }
.preload-King-Gras { background-image: url("/_content/sk.weblib/images/noto/KingGras.svg"); }
.preload-King-Herz { background-image: url("/_content/sk.weblib/images/noto/KingHerz.svg"); }
.preload-King-Schellen { background-image: url("/_content/sk.weblib/images/noto/KingSchellen.svg"); }
.preload-Nine-Eichel { background-image: url("/_content/sk.weblib/images/noto/NineEichel.svg"); }
.preload-Nine-Gras { background-image: url("/_content/sk.weblib/images/noto/NineGras.svg"); }
.preload-Nine-Herz { background-image: url("/_content/sk.weblib/images/noto/NineHerz.svg"); }
.preload-Nine-Schellen { background-image: url("/_content/sk.weblib/images/noto/NineSchellen.svg"); }
.preload-Ober-Eichel { background-image: url("/_content/sk.weblib/images/noto/OberEichel.svg"); }
.preload-Ober-Gras { background-image: url("/_content/sk.weblib/images/noto/OberGras.svg"); }
.preload-Ober-Herz { background-image: url("/_content/sk.weblib/images/noto/OberHerz.svg"); }
.preload-Ober-Schellen { background-image: url("/_content/sk.weblib/images/noto/OberSchellen.svg"); }
.preload-Seven-Eichel { background-image: url("/_content/sk.weblib/images/noto/SevenEichel.svg"); }
.preload-Seven-Gras { background-image: url("/_content/sk.weblib/images/noto/SevenGras.svg"); }
.preload-Seven-Herz { background-image: url("/_content/sk.weblib/images/noto/SevenHerz.svg"); }
.preload-Seven-Schellen { background-image: url("/_content/sk.weblib/images/noto/SevenSchellen.svg"); }
.preload-Ten-Eichel { background-image: url("/_content/sk.weblib/images/noto/TenEichel.svg"); }
.preload-Ten-Gras { background-image: url("/_content/sk.weblib/images/noto/TenGras.svg"); }
.preload-Ten-Herz { background-image: url("/_content/sk.weblib/images/noto/TenHerz.svg"); }
.preload-Ten-Schellen { background-image: url("/_content/sk.weblib/images/noto/TenSchellen.svg"); }
.preload-Unter-Eichel { background-image: url("/_content/sk.weblib/images/noto/UnterEichel.svg"); }
.preload-Unter-Gras { background-image: url("/_content/sk.weblib/images/noto/UnterGras.svg"); }
.preload-Unter-Herz { background-image: url("/_content/sk.weblib/images/noto/UnterHerz.svg"); }
.preload-Unter-Schellen { background-image: url("/_content/sk.weblib/images/noto/UnterSchellen.svg"); }

.card-Ace-Eichel { background-image: url("/_content/sk.weblib/images/noto/AceEichel.svg"); }
.card-Ace-Gras { background-image: url("/_content/sk.weblib/images/noto/AceGras.svg"); }
.card-Ace-Herz { background-image: url("/_content/sk.weblib/images/noto/AceHerz.svg"); }
.card-Ace-Schellen { background-image: url("/_content/sk.weblib/images/noto/AceSchellen.svg"); }
.card-Eight-Eichel { background-image: url("/_content/sk.weblib/images/noto/EightEichel.svg"); }
.card-Eight-Gras { background-image: url("/_content/sk.weblib/images/noto/EightGras.svg"); }
.card-Eight-Herz { background-image: url("/_content/sk.weblib/images/noto/EightHerz.svg"); }
.card-Eight-Schellen { background-image: url("/_content/sk.weblib/images/noto/EightSchellen.svg"); }
.card-King-Eichel { background-image: url("/_content/sk.weblib/images/noto/KingEichel.svg"); }
.card-King-Gras { background-image: url("/_content/sk.weblib/images/noto/KingGras.svg"); }
.card-King-Herz { background-image: url("/_content/sk.weblib/images/noto/KingHerz.svg"); }
.card-King-Schellen { background-image: url("/_content/sk.weblib/images/noto/KingSchellen.svg"); }
.card-Nine-Eichel { background-image: url("/_content/sk.weblib/images/noto/NineEichel.svg"); }
.card-Nine-Gras { background-image: url("/_content/sk.weblib/images/noto/NineGras.svg"); }
.card-Nine-Herz { background-image: url("/_content/sk.weblib/images/noto/NineHerz.svg"); }
.card-Nine-Schellen { background-image: url("/_content/sk.weblib/images/noto/NineSchellen.svg"); }
.card-Ober-Eichel { background-image: url("/_content/sk.weblib/images/noto/OberEichel.svg"); }
.card-Ober-Gras { background-image: url("/_content/sk.weblib/images/noto/OberGras.svg"); }
.card-Ober-Herz { background-image: url("/_content/sk.weblib/images/noto/OberHerz.svg"); }
.card-Ober-Schellen { background-image: url("/_content/sk.weblib/images/noto/OberSchellen.svg"); }
.card-Seven-Eichel { background-image: url("/_content/sk.weblib/images/noto/SevenEichel.svg"); }
.card-Seven-Gras { background-image: url("/_content/sk.weblib/images/noto/SevenGras.svg"); }
.card-Seven-Herz { background-image: url("/_content/sk.weblib/images/noto/SevenHerz.svg"); }
.card-Seven-Schellen { background-image: url("/_content/sk.weblib/images/noto/SevenSchellen.svg"); }
.card-Ten-Eichel { background-image: url("/_content/sk.weblib/images/noto/TenEichel.svg"); }
.card-Ten-Gras { background-image: url("/_content/sk.weblib/images/noto/TenGras.svg"); }
.card-Ten-Herz { background-image: url("/_content/sk.weblib/images/noto/TenHerz.svg"); }
.card-Ten-Schellen { background-image: url("/_content/sk.weblib/images/noto/TenSchellen.svg"); }
.card-Unter-Eichel { background-image: url("/_content/sk.weblib/images/noto/UnterEichel.svg"); }
.card-Unter-Gras { background-image: url("/_content/sk.weblib/images/noto/UnterGras.svg"); }
.card-Unter-Herz { background-image: url("/_content/sk.weblib/images/noto/UnterHerz.svg"); }
.card-Unter-Schellen { background-image: url("/_content/sk.weblib/images/noto/UnterSchellen.svg"); }
.card-hidden { background-image: url("/_content/sk.weblib/images/back.png"); }

.card-face {
    width: 160px;
    height: 223px;
    background-size: contain;
    background-repeat: no-repeat;
}